<h1 align = "center"> Preprocessing Template </h1>

<h3><font color = "red"> Remember to take care of NA especially when it comes to comparison and statistics

### Some tricks in dplyr and tidyr reshape2

* Dplyr

In [ ]:
changeDataFormat = function(x,...){
# Use lazy evaluation for filtering 
filter_crit = lazyeval::interp(~ filter_var != ""  &!is.na(filter_var) & filter_var!= 0.0 & filter_var!="n/a" ,
                               filter_var = as.name(...))
# Get percentage for each group    
example = select_(x, "CountDevicesScaled", "Month", "Region", "IsGamer", "FormFactor", ...) %>% 
filter_(filter_crit) %>% group_by_("Month", "Region", "IsGamer", "FormFactor", ...) %>% 
    summarise(Value = sum(CountDevicesScaled, na.rm = TRUE)) %>% mutate(Percentage = Value/sum(Value))

example = as.data.frame(example)
colnames(example)[5] = "SubCategory"
example$Category = as.character(...)
if(as.character(...) == "OsInstallBase"){
# Change the order within each group (by using slice to reorder)
example = group_by(example,Month,Region, IsGamer, FormFactor, Category) %>% 
    slice(match(OsInstallBaseOrder, SubCategory))


} else if (as.character(...) == "Storage"){
example = group_by(example, Month,Region, IsGamer, FormFactor, Category) %>% 
    slice(match(StorageOrder, SubCategory))

} else if (as.character(...) == "Memory"){
example = group_by(example, Month,Region, IsGamer, FormFactor, Category) %>% 
    slice(match(MemoryOrder, SubCategory))
}  else if (as.character(...) == "Resolution"){
example = group_by(example,Month,Region, IsGamer, FormFactor, Category) %>% 
    slice(match(ResolutionOrder, SubCategory))

} else  if (as.character(...) == "DirectXSupport"){
example = group_by(example, Month,Region, IsGamer, FormFactor, Category) %>% 
    slice(match(DirectXSupportOrder, SubCategory))
}
return(example)
}

In [ ]:
# Impute the missing with the mean of each group
library(dplyr)
 iris2New <- iris2 %>% 
                   group_by(Species) %>%
                   mutate_each(funs(mean=mean(., na.rm=TRUE)), contains("."))

In [ ]:
# fill in NA based on the last non-NA value for each group in R
m %>% group_by(y1) %>% mutate(y4=zoo::na.locf(y3))

In [ ]:
## Uncertain number of string arguments (if it is only one just use the ...) 

plotGenerationFct = function(data, vars, targetVariable){   
  result = data %>% select_(.dots=c(vars, targetVariable)) %>% 
      group_by_(.dots=vars) %>%  
      summarise_(mean= interp(~mean(var, na.rm = TRUE), var = as.name(targetVariable)))
  return(result)
}

In [ ]:
## If load the function directly, remember to use the dataframe as do only can recognize dataframe 
dd = function(x){
  t = which.max(x$Sepal.Length)
  data = x[-t,]
  m= max(data$Sepal.Length)
  return(data.frame(m))
}

iris %>% group_by (Species) %>% do(dd(.))

* Tidyr

In [ ]:
gather(Predictor, key = x, value = importance, mda, mdg, -Predictor) 
#value to keep and value to melt  key is the column name of the previous column names and value is the value

In [ ]:
pread(key = department_name, value = distinct_item_count)) 
# key is the column names and value just the one needs to fill in different from reshape is all the data needs to be aggregated beforehand, no aggregation available

* Reshape2

In [ ]:
# melt: id.vars are the ones that need to stay in the column names  
melt(airquality, id.vars = c("month", "day"))

In [ ]:
# cast:
aqw <- dcast(aql, month + day ~ variable, value.var = #which value to include for each column, 
            fun.aggregate: #which function to aggregate the valuesL can use mean )

<h2 align = "center"> Load data and library

In [1]:
## Library all the necessary library and set the directory you are going to work with
dir = "E:/Personal/InterviewQuestion/Rscripts/TakeHomeChallenge/AirbnbDataChallenge"
setwd(dir)
train = read.csv("train_users_2.csv", header = TRUE, as.is = TRUE)
sessions = read.csv("sessions.csv", header = TRUE, as.is = TRUE)
countries = read.csv("countries.csv", header = TRUE, as.is = TRUE)

In [4]:
if(!require(ggplot2)){
    install.packages("ggplot2")
 }
if(!require(lubridate)){
    install.packages("lubridate")
 }
if(!require(dplyr)){
    install.packages("dplyr")
 }
if(!require(plyr)){
    install.packages("plyr")
 }
if(!require(tidyr)){
    install.packages("tidyr")
 }
if(!require(scales)){
    install.packages("scales")
 }
if(!require(caret)){
    install.packages("caret")
 }
if(!require(stringr)){
    install.packages("stringr")
 }
if(!require(Hmisc)){
    install.packages("Hmisc")
 }

if(!require(gridExtra)){
    install.packages("gridExtra")
 }
if(!require(grid)){
    install.packages("grid")
 }
if(!require(lattice)){
    install.packages("lattice")
 }

if(!require(ggthemes)){
    install.packages("ggthemes")
 }
if(!require(ggtech)){
    install.packages("ggtech")
 }

if(!require(extrafont)){
    install.packages("extrafont")
 }
font_import(pattern = 'Circular', prompt=FALSE)

Loading required package: ggplot2
Loading required package: lubridate

Attaching package: 'lubridate'

The following object is masked from 'package:base':

    date

Loading required package: dplyr

Attaching package: 'dplyr'

The following objects are masked from 'package:lubridate':

    intersect, setdiff, union

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Loading required package: plyr
------------------------------------------------------------------------------
You have loaded plyr after dplyr - this is likely to cause problems.
If you need functions from both plyr and dplyr, please load plyr first, then dplyr:
library(plyr); library(dplyr)
------------------------------------------------------------------------------

Attaching package: 'plyr'

The following objects are masked from 'package:dplyr':

    arrange, count, desc, failwith, id, mutate, rename, summarise,
    summarize

The following object is masked from 'package:lubridate':

    here

Loading required package: tidyr
Loading required package: scales
Loading required package: caret
Loading required package: lattice
Loading required package: stringr
Loading required package: Hmisc
Loading required package: survival

Attaching package: 'survival'

The following object is masked from 'package:caret':

    cluster

Loading required package: Formula

Attaching package: 'Hmisc'

The following objects are masked from 'package:plyr':

    is.discrete, summarize

The following objects are masked from 'package:dplyr':

    combine, src, summarize

The following objects are masked from 'package:base':

    format.pval, round.POSIXt, trunc.POSIXt, units

Loading required package: gridExtra

Attaching package: 'gridExtra'

The following object is masked from 'package:Hmisc':

    combine

The following object is masked from 'package:dplyr':

    combine

Loading required package: grid
Loading required package: ggthemes
Loading required package: ggtech
Loading required package: extrafont
Registering fonts with R
Scanning ttf files in C:\WINDOWS\Fonts ...
Extracting .afm files from .ttf files...
C:\Windows\Fonts\Circular Air-Bold 3.46.45 PM.ttf : CircularAir-Bold already registered in fonts database. Skipping.
C:\Windows\Fonts\Circular Air-Medium 3.46.45 PM.ttf : CircularAir-Medium already registered in fonts database. Skipping.
Found FontName for 0 fonts.
Scanning afm files in C:/Users/menli/Documents/R/win-library/3.3/extrafontdb/metrics

<h2 align = "center"> Data Preprocessing

### Look at the structure of the data

In [10]:
str(train)

'data.frame':	213451 obs. of  16 variables:
 $ id                     : chr  "gxn3p5htnn" "820tgsjxq7" "4ft3gnwmtx" "bjjt8pjhuk" ...
 $ date_account_created   : chr  "2010-06-28" "2011-05-25" "2010-09-28" "2011-12-05" ...
 $ timestamp_first_active : num  2.01e+13 2.01e+13 2.01e+13 2.01e+13 2.01e+13 ...
 $ date_first_booking     : chr  "" "" "2010-08-02" "2012-09-08" ...
 $ gender                 : chr  "-unknown-" "MALE" "FEMALE" "FEMALE" ...
 $ age                    : num  NA 38 56 42 41 NA 46 47 50 46 ...
 $ signup_method          : chr  "facebook" "facebook" "basic" "facebook" ...
 $ signup_flow            : int  0 0 3 0 0 0 0 0 0 0 ...
 $ language               : chr  "en" "en" "en" "en" ...
 $ affiliate_channel      : chr  "direct" "seo" "direct" "direct" ...
 $ affiliate_provider     : chr  "direct" "google" "direct" "direct" ...
 $ first_affiliate_tracked: chr  "untracked" "untracked" "untracked" "untracked" ...
 $ signup_app             : chr  "Web" "Web" "Web" "Web" ...
 $ first_device_type      : chr  "Mac Desktop" "Mac Desktop" "Windows Desktop" "Mac Desktop" ...
 $ first_browser          : chr  "Chrome" "Chrome" "IE" "Firefox" ...
 $ country_destination    : chr  "NDF" "NDF" "US" "other" ...

* Look for missing values and outliers
* We can see the date_first_booking has a lot of missings (probably the same info as the NDF), gender has "-unknown-" information.

In [14]:
str(sessions)

'data.frame':	10567737 obs. of  6 variables:
 $ user_id      : chr  "d1mm9tcy42" "d1mm9tcy42" "d1mm9tcy42" "d1mm9tcy42" ...
 $ action       : chr  "lookup" "search_results" "lookup" "search_results" ...
 $ action_type  : chr  "" "click" "" "click" ...
 $ action_detail: chr  "" "view_search_results" "" "view_search_results" ...
 $ device_type  : chr  "Windows Desktop" "Windows Desktop" "Windows Desktop" "Windows Desktop" ...
 $ secs_elapsed : num  319 67753 301 22141 435 ...

<h2 align = "center"><font color = "red"> IDs </font> </h2>

### Check the IDs

### If there is only one table

* Check duplication first

* Is that possible for the same ID to appear several times in the table?

In [9]:
## Look at the ids if there is any duplicates and what does this mean
length(unique(train$id)) == nrow(train) # It makes sense since it is the users who first book an airbnb

[1] TRUE

In [7]:
length(unique(sessions$user_id)) == nrow(sessions)

[1] FALSE

In [10]:
duplicatedRecords = duplicated(sessions)

In [8]:
sum(duplicated(sessions))

[1] 252536

In [11]:
sessions = sessions[!duplicatedRecords,]

### If there are more than 2 tables

* Check whether  the ids will be matched before any data filtering

* Think of why they don't match

In [16]:
length(unique(train$id)) == length(unique(sessions$user_id))

[1] FALSE

In [18]:
sum(!(unique(train$id) %in% unique(sessions$user_id)))/length(unique(train$id))  #Only available from 2014

[1] 0.6541829

<h2 align = "center"><font color = "red"> Missing & Nulls </font> </h2>

https://github.com/MengyingLi/RScripts/blob/master/Missing%20Values.ipynb

### Check the Missing Values

* Check whether the missing is due to the user or the logging system. If it is due to the user, it might indicate the user's behavior. If it is missing bc of the logging system, think about the way to impute it.

* Missing in categorical variables can just be treated as missing itself for machine learning but missing in numeric variable and dates need to be taken care of

<h3> <font color = "red"> Use random forest or logistic regression, you need to impute the missing first

* Random forest use `rfimpute`
* Logisitcs regression use the simple impute (either one statistics or multiple imputation)

_Always do a summary for the categorical variables to get a sense of what are the values in these variables_

In [19]:
sapply(train, function(x)sum(is.na(x)|x == ""))

                     id    date_account_created  timestamp_first_active
                      0                       0                       0
     date_first_booking                  gender                     age
                 124543                       0                   87990
          signup_method             signup_flow                language
                      0                       0                       0
      affiliate_channel      affiliate_provider first_affiliate_tracked
                      0                       0                    6065
             signup_app       first_device_type           first_browser
                      0                       0                       0
    country_destination
                      0

#### Variable 1 with Missing Values: date_first_booking

<h3><font color = "red"> Don't jump to the dependent variable's definition first especially it has to be deducted from a time variable.

* Think of whether you give enough time to let the user have that reaction. Make sure of the logging time and probably draw the histogram of time intervals

In [20]:
# Given the information, if the date_first_booking all corresponds to NDF, the data should be fine. 
unique(subset(train,date_first_booking == "" )$country_destination)

[1] "NDF"

#### Variable 2 with Missing Values: age

* Look at the unique values of the age and think of whether to use it as a bucket or as continuous variable

In [42]:
unique(train$age)# We see some weird outliers: might be an indicator of a user's loyalty

  [1]   NA   38   56   42   41   46   47   50   36   37   33   31   29   30   40
 [16]   26   32   35   59   49   44   34   28   19   53   52   39   57   25   54
 [31]   69   63   43   55   65   58   61   18    5   27   45   60   48   51   64
 [46]   72   70   67   73 2014  104   66  105   68   95   24   94   75   79   62
 [61] 2013   16    4   23  101   98   76   74   87   92  115   71   84  107   78
 [76]   99  110  102   82   77   22   89   21   15   20  103    2   17   86   97
 [91]   81   90   88   80  100   91  106   83   85  108  113  109   93   96 1949
[106]  111 1931 1932  112 1928    1 1936 1933 1935 1925 1952  150 1927  132 1953
[121] 1942 1995 2008 1924 1929 1947 1938 1926

In [43]:
train <- train %>%
  dplyr::mutate(
    age_cln = ifelse(age >= 1920, 2015 - age, age),
    age_cln2 = ifelse(age_cln < 18 | age_cln > 100, -1, age_cln),
    age_bucket = cut(age, breaks = c(min(age_cln, na.rm= TRUE)-1, 4, 9, 14, 19, 24,
                                     29, 34, 39, 44, 49, 54,
                                     59, 64, 69, 74, 79, 84,
                                     89, 94, 99, max(age_cln, na.rm= TRUE))),
    age_bucket = mapvalues(age_bucket,
                           from=c("(0,4]", "(4,9]", "(9,14]", "(14,19]",
                                  "(19,24]", "(24,29]", "(29,34]", "(34,39]",
                                  "(39,44]", "(44,49]", "(49,54]", "(54,59]",
                                  "(59,64]", "(64,69]", "(69,74]", "(74,79]",
                                  "(79,84]", "(84,89]", "(89,94]", "(94,99]", "(99,150]"),
                           to=c("0-4", "5-9", "10-14", "15-19",
                                "20-24", "25-29", "30-34", "35-39",
                                "40-44", "45-49", "50-54", "55-59",
                                "60-64", "65-69", "70-74", "75-79",
                                "80-84", "85-89", "90-94", "95-99", "100+"))
    )

In [47]:
train = mutate(train, age_bucket = ifelse(is.na(age_bucket), "Missing", age_bucket))

* Some are very much have the 4 digit values considering change it to the normal age

#### Variable 3 with Missing Values: first_affiliate_tracked

In [12]:
unique(train$first_affiliate_tracked)

[1] "untracked"     "omg"           ""              "linked"
[5] "tracked-other" "product"       "marketing"     "local ops"

In [44]:
train = train %>% mutate(ifelse(first_affiliate_tracked == "", "Missing", first_affiliate_tracked))

* Impute missing values

In [12]:
library(Hmisc)

train$imputed_age <- with(train, impute(age, median))

train$imputed_age2 <- with(train, impute(age, 'random'))

#similarly you can use min, max, median to impute missing value

In [ ]:
#using argImpute
impute_arg <- aregImpute(~ Sepal.Length + Sepal.Width + Petal.Length + Petal.Width +
Species, data = iris.mis, n.impute = 5)

#### Variable 3 with Missing Values: first_affiliate_tracked

### Change the Data Format

<h2 align = "center"><font color = "red"> Date Information</font> </h2>

1. If you are only interested in machine learning, the format of the date information does not matter and usually we change it to characters or numeric

2. But if you are interested in visualizing the result, we should use the as.Date and lubridate

3. If there are multiple dates, consider creating lag

* Date in Date Format
* yearmonthday in character
* yearmonthweak in character
* week in character
* day of the week in character

> %Y for 2015, %y for 15, %m/%d/%Y %H:%M, b% for Month's abbreviation B% for the full name of the month

#### Date to transform to local date time

* Different local time can't be in the same column and since we only care about specific hours and the day of week, change it separately and combine them back to the same data frame. *with_tz* is the key

In [ ]:
SF_data = subset(data, region == "sf")
SF_data = SF_data %>% mutate(delivery_local_time = 
                             with_tz(delivery_time, tz = "America/Los_Angeles"),
                            delivery_local_date = date(delivery_local_time),
                            delivery_local_hour = hour(delivery_local_time),
                            delivery_local_dayofweek = weekdays(delivery_local_time),
                            delivery_week = as.numeric(format(delivery_local_time+3, "%U")))

In [ ]:
NYC_data = subset(data, region == "nyc")
NYC_data = NYC_data %>% mutate(delivery_local_time = 
                             with_tz(delivery_time, tz = "America/New_York"),
                            delivery_local_date = date(delivery_local_time),
                            delivery_local_hour = hour(delivery_local_time),
                            delivery_local_dayofweek = weekdays(delivery_local_time),
                            delivery_week = as.numeric(format(delivery_local_time+3, "%U")))

In [ ]:
CHI_data = subset(data, region == "chi")
CHI_data = CHI_data %>% mutate(delivery_local_time = 
                             with_tz(delivery_time, tz = "America/Chicago"),
                            delivery_local_date = date(delivery_local_time),
                            delivery_local_hour = hour(delivery_local_time),
                            delivery_local_dayofweek = weekdays(delivery_local_time),
                              delivery_week = as.numeric(format(delivery_local_time+3, "%U")))

In [ ]:
allData = bind_rows(NYC_data, SF_data, CHI_data) %>% select(-delivery_local_time)

#### Date in the standard date format but in character for example "2016-05-13"

In [51]:
###timestamp_first_active and date_account_created
# If the date is in character we can use separate to get the relevant date information or use as.Date if we need to visualize 
train = train %>% 
    separate(date_account_created, into = c("dac_year", "dac_month", "dac_day"), sep = "-", remove=FALSE) %>%
    dplyr::mutate( 
    date_account_created = as.Date(date_account_created),
    dac_yearmonth = paste0(dac_year, dac_month),
    dac_yearmonthday = as.numeric(paste0(dac_year, dac_month, dac_day)),
    dac_week = as.numeric(format(date_account_created+3, "%U")),
    dac_yearmonthweek = as.numeric(paste0(dac_year, dac_month, formatC(dac_week, width=2, flag="0"))),
    dac_weekday = weekdays(date_account_created)
    )

#### Date in the timestamp composed of yyyymmddhhss

In [52]:
 train = train %>%  mutate(      
    tfa_year = str_sub(timestamp_first_active, 1, 4),
    tfa_month = str_sub(timestamp_first_active, 5, 6),
    tfa_day = str_sub(timestamp_first_active, 7, 8),
    tfa_yearmonth = str_sub(timestamp_first_active, 1, 6),
    tfa_yearmonthday = as.numeric(str_sub(timestamp_first_active, 1, 8)),
    tfa_date = as.Date(paste(tfa_year, tfa_month, tfa_day, sep="-")),
    tfa_week = as.numeric(format(tfa_date+3, "%U")),
    tfa_yearmonthweek = as.numeric(paste0(tfa_year, tfa_month, formatC(tfa_week, width=2, flag="0"))),
     # formatC is used to add 0 before the single digit, 
    tfa_weekday = weekdays(tfa_date)
     )

#### Date in the timestamp composed of yyyy-mm-dd hh:MM:ss

* Use the the function from <https://rpubs.com/davoodastaraky/lubridate>
* Idea is use ymd or ymd_hms to transform string to a POXICT object and then use all the unit function to get each small time unit out of it
* And use the interval to get the difference and as.period to get the actual length (specify different units)`as.period(interval(start,end), unit = "seconds")`

In [1]:
library(lubridate)

Attaching package: 'lubridate'

The following object is masked from 'package:base':

    date

In [3]:
library(jsonlite)

In [5]:
song = fromJSON("E:/Personal/InterviewQuestion/Rscripts/TakeHomeChallenge/Song_Recommendation/song.json")

In [ ]:
song = song %>%  mutate(      
    user_sign_up_date = as.Date(user_sign_up_date, "%Y-%m-%d"),
    time_played = ymd_hms(time_played),
    ## Individual features from the sign up date
    user_sign_up_month = month(user_sign_up_date),
    user_sign_up_day_of_the_week = weekdays(user_sign_up_date), 

    ## Individual features from the play date time
    played_month = month(time_played),
    played_day = as.Date(time_played),
    played_day_of_the_week = weekdays(time_played),
    played_hour = hour(time_played)
     ) %>% group_by(user_id) %>% 
    mutate(first_time_played = min(played_day), lag_signup_firstplayed =  as.numeric(first_time_played - user_sign_up_date))

#### Date in the timestamp in Epoch time

* Timezone is the key, pay attention to the values

In [40]:
lyftData = read.csv("//scratch2/scratch/menli/Data/test.csv", header = TRUE, stringsAsFactors = FALSE)

In [41]:
head(lyftData)

  row_id start_lng start_lat   end_lng  end_lat start_timestamp
1      0 -73.99311  40.72429 -74.00098 40.73522      1422173589
2      1 -73.97192  40.76275 -73.96570 40.77143      1420567340
3      2 -73.95325  40.76582 -73.95284 40.77245      1420567343
4      3 -73.98662  40.73935 -73.94916 40.80516      1420103336
5      4 -73.96886  40.75732 -73.98252 40.77130      1420690180
6      5 -73.98646  40.73992 -73.97903 40.72185      1422582071

In [42]:
lyftData$start_time = as.POSIXct(lyftData$start_timestamp,origin="1970-01-01",tz="America/New_York")

#### Create lag of dates

* Check to see whether the order of the date is correct
* make sure all your date is in date format

In [8]:
train = train %>% dplyr::mutate( 
    date_first_booking = ifelse(date_first_booking == "", NA, date_first_booking), #First change all the "" to NA
    date_first_booking= as.Date(date_first_booking),
    # Then perform the as.Date all the data or it will convert to a numberic if use as.Date in ifelse   
    dac_lag = as.numeric(date_account_created - tfa_date),
    dfb_dac_lag = as.numeric(date_first_booking - date_account_created),
    dfb_dac_lag_cut = as.character(cut2(dfb_dac_lag, c(0, 1))),
    dfb_dac_lag_flg = as.numeric(as.factor(ifelse(is.na(dfb_dac_lag_cut)==T, "NA", dfb_dac_lag_cut))) - 1,
    dfb_tfa_lag = as.numeric(date_first_booking - tfa_date),
    dfb_tfa_lag_cut = as.character(cut2(dfb_tfa_lag, c(0, 1))), #cut2 includes the beginning not the end [) untill the last one []
    dfb_tfa_lag_flg = as.numeric(as.factor(ifelse(is.na(dfb_tfa_lag_cut)==T, "NA", dfb_tfa_lag_cut))) - 1 
    ## Give NA, wrong information different labels
  )

<h2 align = "center"><font color = "red">Age Information</font> </h2>

https://www.airbnb.com/terms

In [60]:
 #mapValues like a lot of ifelse and you don't have to care about NA as it will treat as it is

In [ ]:
df_all <- df_all %>%
  dplyr::mutate(
    age_cln = ifelse(age >= 1920, 2015 - age, age),
    age_cln2 = ifelse(age_cln < 14 | age_cln > 100, -1, age_cln),
    age_bucket = cut(age, breaks = c(Min(age_cln), 4, 9, 14, 19, 24,
                                     29, 34, 39, 44, 49, 54,
                                     59, 64, 69, 74, 79, 84,
                                     89, 94, 99, Max(age_cln)
    )),
    age_bucket = mapvalues(age_bucket,
                           from=c("(1,4]", "(4,9]", "(9,14]", "(14,19]",
                                  "(19,24]", "(24,29]", "(29,34]", "(34,39]",
                                  "(39,44]", "(44,49]", "(49,54]", "(54,59]",
                                  "(59,64]", "(64,69]", "(69,74]", "(74,79]",
                                  "(79,84]", "(84,89]", "(89,94]", "(94,99]", "(99,150]"),
                           to=c("0-4", "5-9", "10-14", "15-19",
                                "20-24", "25-29", "30-34", "35-39",
                                "40-44", "45-49", "50-54", "55-59",
                                "60-64", "65-69", "70-74", "75-79",
                                "80-84", "85-89", "90-94", "95-99", "100+"))
  )

<h2 align = "center"><font color = "red"> Categorical Variable</font> </h2>

In [50]:
train = train %>% mutate(gender = factor(gender), signup_method = factor(signup_method), language = factor(language), affiliate_channel = factor(affiliate_channel),
                affiliate_provider = factor(affiliate_provider),
                signup_app = factor(signup_app),
                first_device_type = factor(signup_app),
                first_browser = factor(first_browser),
                age_bucket = factor(age_bucket))

* Change the order of the categorical variables

In [ ]:
data = transform(data, name = factor(name, name_order ))

<h2 align = "center"><font color = "red">If there are joins between two tables</font> </h2>

* Make sure whether there is potential N-to-N relationships

* If not, make sure at least one table has one id per each row at least

<h2 align = "center"> <font color= "blue">Not important

<h2 align = "center"><font color = "red">Session Information</font> </h2>

In [62]:
head(sessions)

     user_id         action action_type       action_detail     device_type
1 d1mm9tcy42         lookup                                 Windows Desktop
2 d1mm9tcy42 search_results       click view_search_results Windows Desktop
3 d1mm9tcy42         lookup                                 Windows Desktop
4 d1mm9tcy42 search_results       click view_search_results Windows Desktop
5 d1mm9tcy42         lookup                                 Windows Desktop
6 d1mm9tcy42 search_results       click view_search_results Windows Desktop
  secs_elapsed
1          319
2        67753
3          301
4        22141
5          435
6         7703

In [ ]:
# **************************************
# sessions features
# **************************************
sessions$flg <- 1
sessions <- data.table(sessions)
sessions[, seq := sequence(.N), by = c("user_id")]
sessions[, seq_rev := rev(sequence(.N)), by = c("user_id")]
sessions[, action2 := paste(action, action_type, action_detail, device_type, sep="_"),]

first_execution <- 1

if(first_execution == 1){
  sessions_action_se_sum <- sessions[,list(secs_elapsed_sum = sum(secs_elapsed, na.rm=T)),
                                     by=list(user_id, action)]
  sessions_action_se_sum <- melt.data.table(sessions_action_se_sum)
  sessions_action_se_sum$variable <- NULL
  sessions_action_se_sum <- data.frame(sessions_action_se_sum)
  names(sessions_action_se_sum) <- c("id", "feature", "value")
  sessions_action_se_sum$feature <- paste("action_se_sum", sessions_action_se_sum$feature, sep="_")
  n_distinct(sessions_action_se_sum$feature)
  saveRDS(sessions_action_se_sum, "cache/sessions_action_se_sum.RData")
  
  
  sessions_action_type_se_sum <- sessions[,list(secs_elapsed_sum = sum(secs_elapsed, na.rm=T)),
                                          by=list(user_id, action_type)]
  sessions_action_type_se_sum <- melt.data.table(sessions_action_type_se_sum)
  sessions_action_type_se_sum$variable <- NULL
  sessions_action_type_se_sum <- data.frame(sessions_action_type_se_sum)
  names(sessions_action_type_se_sum) <- c("id", "feature", "value")
  sessions_action_type_se_sum$feature <- paste("action_type_se_sum", sessions_action_type_se_sum$feature, sep="_")
  n_distinct(sessions_action_type_se_sum$feature)
  saveRDS(sessions_action_type_se_sum, "cache/sessions_action_type_se_sum.RData")
  
  
  sessions_action_detail_se_sum <- sessions[,list(secs_elapsed_sum = sum(secs_elapsed, na.rm=T)),
                                            by=list(user_id, action_detail)]
  sessions_action_detail_se_sum <- melt.data.table(sessions_action_detail_se_sum)
  sessions_action_detail_se_sum$variable <- NULL
  sessions_action_detail_se_sum <- data.frame(sessions_action_detail_se_sum)
  names(sessions_action_detail_se_sum) <- c("id", "feature", "value")
  sessions_action_detail_se_sum$feature <- paste("action_detail_se_sum", sessions_action_detail_se_sum$feature, sep="_")
  n_distinct(sessions_action_detail_se_sum$feature)
  saveRDS(sessions_action_detail_se_sum, "cache/sessions_action_detail_se_sum.RData")
  
  
  sessions_device_type_se_sum <- sessions[,list(secs_elapsed_sum = sum(secs_elapsed, na.rm=T)),
                                          by=list(user_id, device_type)]
  sessions_device_type_se_sum <- melt.data.table(sessions_device_type_se_sum)
  sessions_device_type_se_sum$variable <- NULL
  sessions_device_type_se_sum <- data.frame(sessions_device_type_se_sum)
  names(sessions_device_type_se_sum) <- c("id", "feature", "value")
  sessions_device_type_se_sum$feature <- paste("device_type_se_sum", sessions_device_type_se_sum$feature, sep="_")
  n_distinct(sessions_device_type_se_sum$feature)
  saveRDS(sessions_device_type_se_sum, "cache/sessions_device_type_se_sum.RData")
  
  
  sessions_action_flg_sum <- sessions[,list(flg_sum = sum(flg, na.rm=T)),
                                      by=list(user_id, action)]
  sessions_action_flg_sum <- melt.data.table(sessions_action_flg_sum)
  sessions_action_flg_sum$variable <- NULL
  sessions_action_flg_sum <- data.frame(sessions_action_flg_sum)
  names(sessions_action_flg_sum) <- c("id", "feature", "value")
  sessions_action_flg_sum$feature <- paste("action_flg_sum", sessions_action_flg_sum$feature, sep="_")
  n_distinct(sessions_action_flg_sum$feature)
  saveRDS(sessions_action_flg_sum, "cache/sessions_action_flg_sum.RData")
  
  
  sessions_action_type_flg_sum <- sessions[,list(flg_sum = sum(flg, na.rm=T)),
                                           by=list(user_id, action_type)]
  sessions_action_type_flg_sum <- melt.data.table(sessions_action_type_flg_sum)
  sessions_action_type_flg_sum$variable <- NULL
  sessions_action_type_flg_sum <- data.frame(sessions_action_type_flg_sum)
  names(sessions_action_type_flg_sum) <- c("id", "feature", "value")
  sessions_action_type_flg_sum$feature <- paste("action_type_flg_sum", sessions_action_type_flg_sum$feature, sep="_")
  n_distinct(sessions_action_type_flg_sum$feature)
  saveRDS(sessions_action_type_flg_sum, "cache/sessions_action_type_flg_sum.RData")
  
  
  sessions_action_detail_flg_sum <- sessions[,list(flg_sum = sum(flg, na.rm=T)),
                                             by=list(user_id, action_detail)]
  sessions_action_detail_flg_sum <- melt.data.table(sessions_action_detail_flg_sum)
  sessions_action_detail_flg_sum$variable <- NULL
  sessions_action_detail_flg_sum <- data.frame(sessions_action_detail_flg_sum)
  names(sessions_action_detail_flg_sum) <- c("id", "feature", "value")
  sessions_action_detail_flg_sum$feature <- paste("action_detail_flg_sum", sessions_action_detail_flg_sum$feature, sep="_")
  n_distinct(sessions_action_detail_flg_sum$feature)
  saveRDS(sessions_action_detail_flg_sum, "cache/sessions_action_detail_flg_sum.RData")
  
  
  sessions_device_type_flg_sum <- sessions[,list(flg_sum = sum(flg, na.rm=T)),
                                           by=list(user_id, device_type)]
  sessions_device_type_flg_sum <- melt.data.table(sessions_device_type_flg_sum)
  sessions_device_type_flg_sum$variable <- NULL
  sessions_device_type_flg_sum <- data.frame(sessions_device_type_flg_sum)
  names(sessions_device_type_flg_sum) <- c("id", "feature", "value")
  sessions_device_type_flg_sum$feature <- paste("device_type_flg_sum", sessions_device_type_flg_sum$feature, sep="_")
  n_distinct(sessions_device_type_flg_sum$feature)
  saveRDS(sessions_device_type_flg_sum, "cache/sessions_device_type_flg_sum.RData")
  
  
  sessions_action_se_mean <- sessions[,list(secs_elapsed_mean = mean(secs_elapsed, na.rm=T)),
                                      by=list(user_id, action)]
  sessions_action_se_mean <- melt.data.table(sessions_action_se_mean)
  sessions_action_se_mean$variable <- NULL
  sessions_action_se_mean <- data.frame(sessions_action_se_mean)
  names(sessions_action_se_mean) <- c("id", "feature", "value")
  sessions_action_se_mean$feature <- paste("action_se_mean", sessions_action_se_mean$feature, sep="_")
  n_distinct(sessions_action_se_mean$feature)
  saveRDS(sessions_action_se_mean, "cache/sessions_action_se_mean.RData")
  
  
  sessions_action_type_se_mean <- sessions[,list(secs_elapsed_mean = mean(secs_elapsed, na.rm=T)),
                                           by=list(user_id, action_type)]
  sessions_action_type_se_mean <- melt.data.table(sessions_action_type_se_mean)
  sessions_action_type_se_mean$variable <- NULL
  sessions_action_type_se_mean <- data.frame(sessions_action_type_se_mean)
  names(sessions_action_type_se_mean) <- c("id", "feature", "value")
  sessions_action_type_se_mean$feature <- paste("action_type_se_mean", sessions_action_type_se_mean$feature, sep="_")
  n_distinct(sessions_action_type_se_mean$feature)
  saveRDS(sessions_action_type_se_mean, "cache/sessions_action_type_se_mean.RData")
  
  
  sessions_action_detail_se_mean <- sessions[,list(secs_elapsed_mean = mean(secs_elapsed, na.rm=T)),
                                             by=list(user_id, action_detail)]
  sessions_action_detail_se_mean <- melt.data.table(sessions_action_detail_se_mean)
  sessions_action_detail_se_mean$variable <- NULL
  sessions_action_detail_se_mean <- data.frame(sessions_action_detail_se_mean)
  names(sessions_action_detail_se_mean) <- c("id", "feature", "value")
  sessions_action_detail_se_mean$feature <- paste("action_detail_se_mean", sessions_action_detail_se_mean$feature, sep="_")
  n_distinct(sessions_action_detail_se_mean$feature)
  saveRDS(sessions_action_detail_se_mean, "cache/sessions_action_detail_se_mean.RData")
  
  
  sessions_device_type_se_mean <- sessions[,list(secs_elapsed_mean = mean(secs_elapsed, na.rm=T)),
                                           by=list(user_id, device_type)]
  sessions_device_type_se_mean <- melt.data.table(sessions_device_type_se_mean)
  sessions_device_type_se_mean$variable <- NULL
  sessions_device_type_se_mean <- data.frame(sessions_device_type_se_mean)
  names(sessions_device_type_se_mean) <- c("id", "feature", "value")
  sessions_device_type_se_mean$feature <- paste("device_type_se_mean", sessions_device_type_se_mean$feature, sep="_")
  n_distinct(sessions_device_type_se_mean$feature)
  saveRDS(sessions_device_type_se_mean, "cache/sessions_device_type_se_mean.RData")
  
  
  sessions_action_se_sd <- sessions[,list(secs_elapsed_sd = sd(secs_elapsed, na.rm=T)),
                                    by=list(user_id, action)]
  sessions_action_se_sd <- melt.data.table(sessions_action_se_sd)
  sessions_action_se_sd$variable <- NULL
  sessions_action_se_sd <- data.frame(sessions_action_se_sd)
  names(sessions_action_se_sd) <- c("id", "feature", "value")
  sessions_action_se_sd$feature <- paste("action_se_sd", sessions_action_se_sd$feature, sep="_")
  n_distinct(sessions_action_se_sd$feature)
  saveRDS(sessions_action_se_sd, "cache/sessions_action_se_sd.RData")
  
  
  sessions_action_type_se_sd <- sessions[,list(secs_elapsed_sd = sd(secs_elapsed, na.rm=T)),
                                         by=list(user_id, action_type)]
  sessions_action_type_se_sd <- melt.data.table(sessions_action_type_se_sd)
  sessions_action_type_se_sd$variable <- NULL
  sessions_action_type_se_sd <- data.frame(sessions_action_type_se_sd)
  names(sessions_action_type_se_sd) <- c("id", "feature", "value")
  sessions_action_type_se_sd$feature <- paste("action_type_se_sd", sessions_action_type_se_sd$feature, sep="_")
  n_distinct(sessions_action_type_se_sd$feature)
  saveRDS(sessions_action_type_se_sd, "cache/sessions_action_type_se_sd.RData")
  
  
  sessions_action_detail_se_sd <- sessions[,list(secs_elapsed_sd = sd(secs_elapsed, na.rm=T)),
                                           by=list(user_id, action_detail)]
  sessions_action_detail_se_sd <- melt.data.table(sessions_action_detail_se_sd)
  sessions_action_detail_se_sd$variable <- NULL
  sessions_action_detail_se_sd <- data.frame(sessions_action_detail_se_sd)
  names(sessions_action_detail_se_sd) <- c("id", "feature", "value")
  sessions_action_detail_se_sd$feature <- paste("action_detail_se_sd", sessions_action_detail_se_sd$feature, sep="_")
  n_distinct(sessions_action_detail_se_sd$feature)
  saveRDS(sessions_action_detail_se_sd, "cache/sessions_action_detail_se_sd.RData")
  
  
  sessions_device_type_se_sd <- sessions[,list(secs_elapsed_sd = sd(secs_elapsed, na.rm=T)),
                                         by=list(user_id, device_type)]
  sessions_device_type_se_sd <- melt.data.table(sessions_device_type_se_sd)
  sessions_device_type_se_sd$variable <- NULL
  sessions_device_type_se_sd <- data.frame(sessions_device_type_se_sd)
  names(sessions_device_type_se_sd) <- c("id", "feature", "value")
  sessions_device_type_se_sd$feature <- paste("device_type_se_sd", sessions_device_type_se_sd$feature, sep="_")
  n_distinct(sessions_device_type_se_sd$feature)
  saveRDS(sessions_device_type_se_sd, "cache/sessions_device_type_se_sd.RData")
  
  
  sessions_action_se_wrmean <- sessions[,list(secs_elapsed_wrmean = weighted.mean(secs_elapsed, w = 1/seq_rev)),
                                        by=list(user_id, action)]
  sessions_action_se_wrmean <- melt.data.table(sessions_action_se_wrmean)
  sessions_action_se_wrmean$variable <- NULL
  sessions_action_se_wrmean <- data.frame(sessions_action_se_wrmean)
  names(sessions_action_se_wrmean) <- c("id", "feature", "value")
  sessions_action_se_wrmean$feature <- paste("action_se_wrmean", sessions_action_se_wrmean$feature, sep="_")
  n_distinct(sessions_action_se_wrmean$feature)
  saveRDS(sessions_action_se_wrmean, "cache/sessions_action_se_wrmean.RData")
  
  
  sessions_action_type_se_wrmean <- sessions[,list(secs_elapsed_wrmean = weighted.mean(secs_elapsed, w = 1/seq_rev)),
                                             by=list(user_id, action_type)]
  sessions_action_type_se_wrmean <- melt.data.table(sessions_action_type_se_wrmean)
  sessions_action_type_se_wrmean$variable <- NULL
  sessions_action_type_se_wrmean <- data.frame(sessions_action_type_se_wrmean)
  names(sessions_action_type_se_wrmean) <- c("id", "feature", "value")
  sessions_action_type_se_wrmean$feature <- paste("action_type_se_wrmean", sessions_action_type_se_wrmean$feature, sep="_")
  n_distinct(sessions_action_type_se_wrmean$feature)
  saveRDS(sessions_action_type_se_wrmean, "cache/sessions_action_type_se_wrmean.RData")
  
  
  sessions_action_detail_se_wrmean <- sessions[,list(secs_elapsed_wrmean = weighted.mean(secs_elapsed, w = 1/seq_rev)),
                                               by=list(user_id, action_detail)]
  sessions_action_detail_se_wrmean <- melt.data.table(sessions_action_detail_se_wrmean)
  sessions_action_detail_se_wrmean$variable <- NULL
  sessions_action_detail_se_wrmean <- data.frame(sessions_action_detail_se_wrmean)
  names(sessions_action_detail_se_wrmean) <- c("id", "feature", "value")
  sessions_action_detail_se_wrmean$feature <- paste("action_detail_se_wrmean", sessions_action_detail_se_wrmean$feature, sep="_")
  n_distinct(sessions_action_detail_se_wrmean$feature)
  saveRDS(sessions_action_detail_se_wrmean, "cache/sessions_action_detail_se_wrmean.RData")
  
  
  sessions_device_type_se_wrmean <- sessions[,list(secs_elapsed_wrmean = weighted.mean(secs_elapsed, w = 1/seq_rev)),
                                             by=list(user_id, device_type)]
  sessions_device_type_se_wrmean <- melt.data.table(sessions_device_type_se_wrmean)
  sessions_device_type_se_wrmean$variable <- NULL
  sessions_device_type_se_wrmean <- data.frame(sessions_device_type_se_wrmean)
  names(sessions_device_type_se_wrmean) <- c("id", "feature", "value")
  sessions_device_type_se_wrmean$feature <- paste("device_type_se_wrmean", sessions_device_type_se_wrmean$feature, sep="_")
  n_distinct(sessions_device_type_se_wrmean$feature)
  saveRDS(sessions_device_type_se_wrmean, "cache/sessions_device_type_se_wrmean.RData")
  
  
  sessions_action_se_wmean <- sessions[,list(secs_elapsed_wmean = weighted.mean(secs_elapsed, w = 1/seq)),
                                       by=list(user_id, action)]
  sessions_action_se_wmean <- melt.data.table(sessions_action_se_wmean)
  sessions_action_se_wmean$variable <- NULL
  sessions_action_se_wmean <- data.frame(sessions_action_se_wmean)
  names(sessions_action_se_wmean) <- c("id", "feature", "value")
  sessions_action_se_wmean$feature <- paste("action_se_wmean", sessions_action_se_wmean$feature, sep="_")
  n_distinct(sessions_action_se_wmean$feature)
  saveRDS(sessions_action_se_wmean, "cache/sessions_action_se_wmean.RData")
  
  
  sessions_action_type_se_wmean <- sessions[,list(secs_elapsed_wmean = weighted.mean(secs_elapsed, w = 1/seq)),
                                            by=list(user_id, action_type)]
  sessions_action_type_se_wmean <- melt.data.table(sessions_action_type_se_wmean)
  sessions_action_type_se_wmean$variable <- NULL
  sessions_action_type_se_wmean <- data.frame(sessions_action_type_se_wmean)
  names(sessions_action_type_se_wmean) <- c("id", "feature", "value")
  sessions_action_type_se_wmean$feature <- paste("action_type_se_wmean", sessions_action_type_se_wmean$feature, sep="_")
  n_distinct(sessions_action_type_se_wmean$feature)
  saveRDS(sessions_action_type_se_wmean, "cache/sessions_action_type_se_wmean.RData")
  
  
  sessions_action_detail_se_wmean <- sessions[,list(secs_elapsed_wmean = weighted.mean(secs_elapsed, w = 1/seq)),
                                              by=list(user_id, action_detail)]
  sessions_action_detail_se_wmean <- melt.data.table(sessions_action_detail_se_wmean)
  sessions_action_detail_se_wmean$variable <- NULL
  sessions_action_detail_se_wmean <- data.frame(sessions_action_detail_se_wmean)
  names(sessions_action_detail_se_wmean) <- c("id", "feature", "value")
  sessions_action_detail_se_wmean$feature <- paste("action_detail_se_wmean", sessions_action_detail_se_wmean$feature, sep="_")
  n_distinct(sessions_action_detail_se_wmean$feature)
  saveRDS(sessions_action_detail_se_wmean, "cache/sessions_action_detail_se_wmean.RData")
  
  
  sessions_device_type_se_wmean <- sessions[,list(secs_elapsed_wmean = weighted.mean(secs_elapsed, w = 1/seq)),
                                            by=list(user_id, device_type)]
  sessions_device_type_se_wmean <- melt.data.table(sessions_device_type_se_wmean)
  sessions_device_type_se_wmean$variable <- NULL
  sessions_device_type_se_wmean <- data.frame(sessions_device_type_se_wmean)
  names(sessions_device_type_se_wmean) <- c("id", "feature", "value")
  sessions_device_type_se_wmean$feature <- paste("device_type_se_wmean", sessions_device_type_se_wmean$feature, sep="_")
  n_distinct(sessions_device_type_se_wmean$feature)
  saveRDS(sessions_device_type_se_wmean, "cache/sessions_device_type_se_wmean.RData")
}

sessions_action_se_sum <- readRDS("cache/sessions_action_se_sum.RData")
sessions_action_type_se_sum <- readRDS("cache/sessions_action_type_se_sum.RData")
sessions_action_detail_se_sum <- readRDS("cache/sessions_action_detail_se_sum.RData")
sessions_device_type_se_sum <- readRDS("cache/sessions_device_type_se_sum.RData")
sessions_action_flg_sum <- readRDS("cache/sessions_action_flg_sum.RData")
sessions_action_type_flg_sum <- readRDS("cache/sessions_action_type_flg_sum.RData")
sessions_action_detail_flg_sum <- readRDS("cache/sessions_action_detail_flg_sum.RData")
sessions_device_type_flg_sum <- readRDS("cache/sessions_device_type_flg_sum.RData")
sessions_action_se_mean <- readRDS("cache/sessions_action_se_mean.RData")
sessions_action_type_se_mean <- readRDS("cache/sessions_action_type_se_mean.RData")
sessions_action_detail_se_mean <- readRDS("cache/sessions_action_detail_se_mean.RData")
sessions_device_type_se_mean <- readRDS("cache/sessions_device_type_se_mean.RData")
sessions_action_se_sd <- readRDS("cache/sessions_action_se_sd.RData")
sessions_action_type_se_sd <- readRDS("cache/sessions_action_type_se_sd.RData")
sessions_action_detail_se_sd <- readRDS("cache/sessions_action_detail_se_sd.RData")
sessions_device_type_se_sd <- readRDS("cache/sessions_device_type_se_sd.RData")
sessions_action_se_wrmean <- readRDS("cache/sessions_action_se_wrmean.RData")
sessions_action_type_se_wrmean <- readRDS("cache/sessions_action_type_se_wrmean.RData")
sessions_action_detail_se_wrmean <- readRDS("cache/sessions_action_detail_se_wrmean.RData")
sessions_device_type_se_wrmean <- readRDS("cache/sessions_device_type_se_wrmean.RData")
sessions_action_se_wmean <- readRDS("cache/sessions_action_se_wmean.RData")
sessions_action_type_se_wmean <- readRDS("cache/sessions_action_type_se_wmean.RData")
sessions_action_detail_se_wmean <- readRDS("cache/sessions_action_detail_se_wmean.RData")
sessions_device_type_se_wmean <- readRDS("cache/sessions_device_type_se_wmean.RData")

### Change all the features to the long format with the feature name as the combination of the broad category and subcategory

In [54]:
ohe_feats = c('gender', 'signup_method', 'signup_flow', 'language', 'affiliate_channel', 
              'affiliate_provider', 'first_affiliate_tracked', 'signup_app', 'first_device_type', 'first_browser')
df_all_ohe_feats <- list()
i <- 1
n_feats <- 0
for(feat in ohe_feats){
  df_all_ohe_feats_ <- train[c("id", feat)]
  df_all_ohe_feats_$feature <- paste(feat, df_all_ohe_feats_[[feat]] , sep="_") ## double [] to get the actual value (so it won't be a df)
  n_feats_ <- n_distinct(df_all_ohe_feats_$feature)
  df_all_ohe_feats_$value <- 1
  df_all_ohe_feats_ <- df_all_ohe_feats_[c("id", "feature", "value")]
  df_all_ohe_feats[[i]] <- df_all_ohe_feats_
  i <- i + 1
  n_feats <- n_feats + n_feats_
}
df_all_ohe_feats <- bind_rows(df_all_ohe_feats)
print("categorical feature")
print(n_feats)

[1] "categorical feature"
[1] 148

In [61]:
# **************************************
# stack numeric feature
# **************************************
num_feats <- c(
  "age_cln",
  "age_cln2",
  "dac_year",
  "dac_month",
  "dac_yearmonth",
  "dac_yearmonthday",
  "dac_yearmonthweek",
  "dac_day",
  "dac_week",
  "tfa_year",
  "tfa_month",
  "tfa_yearmonth",
  "tfa_yearmonthday",
  "tfa_yearmonthweek",
  "tfa_day",
  "tfa_week"#,
  # "dac_lag",
  # "dfb_dac_lag",
  # "dfb_tfa_lag"
)
df_all_num_feats <- list()
i <- 1
for(feat in num_feats){
  df_all_num_feats_ <- train[c("id", feat)]
  df_all_num_feats_$feature <- feat
  df_all_num_feats_$value <- as.numeric(df_all_num_feats_[[feat]])
  df_all_num_feats_ <- df_all_num_feats_[c("id", "feature", "value")]
  df_all_num_feats[[i]] <- df_all_num_feats_
  i <- i + 1
}
df_all_num_feats <- bind_rows(df_all_num_feats)
print("numeric feature")
print(n_distinct(df_all_num_feats$feature))

[1] "numeric feature"
[1] 16

In [55]:
colnames(train)

 [1] "id"                      "date_account_created"
 [3] "dac_year"                "dac_month"
 [5] "dac_day"                 "timestamp_first_active"
 [7] "date_first_booking"      "gender"
 [9] "age"                     "signup_method"
[11] "signup_flow"             "language"
[13] "affiliate_channel"       "affiliate_provider"
[15] "first_affiliate_tracked" "signup_app"
[17] "first_device_type"       "first_browser"
[19] "country_destination"     "age_cln"
[21] "age_cln2"                "age_bucket"
[23] "dac_yearmonth"           "dac_yearmonthday"
[25] "dac_week"                "dac_yearmonthweek"
[27] "dac_weekday"             "tfa_year"
[29] "tfa_month"               "tfa_day"
[31] "tfa_yearmonth"           "tfa_yearmonthday"
[33] "tfa_date"                "tfa_week"
[35] "tfa_yearmonthweek"       "tfa_weekday"

In [56]:
train = mutate(train, booking = ifelse(is.na(date_first_booking), 0 , 1))

In [57]:
save(train, file = "train.rda")

In [58]:
getwd()

[1] "E:/Personal/InterviewQuestion/Rscripts/TakeHomeChallenge/AirbnbDataChallenge"